.about {
  width: 100%;
  position: relative;
}

.aboutTop {
  width: 100%;
  height: 320px;
  background-image: url(../Content/sushi6.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  margin: auto;
  align-items: center;
  margin-top: 50px;
  max-width: 800px;
}

.aboutBottom p {
  font-size: 20px;
  text-align: center;
  line-height: 32px;
}

.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}

.aboutSectionTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 160px;
}

.aboutSectionTwo img {
  width: 50%;
  max-width: 400px;
  border-radius: 20px;
}

.sectionTwoText {
  width: 50%;
  padding: 0 40px;
}

.sectionTwoText h1 {
  font-size: 40px;
  font-weight: 400;
  color: black;
  margin-bottom: 20px;
  margin-top: 80px;
}

.sectionTwoText p {
  font-size: 20px;
  line-height: 32px;
  color: black;
}
